# Nginx configuration

server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name $SERVER_NAME;

    root /var/www/html;
    index index.php index.html;

    charset utf-8;
    
    # Security Headers
    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-Content-Type-Options "nosniff";
    add_header X-XSS-Protection "1; mode=block";
    add_header Referrer-Policy "no-referrer-when-downgrade";
    # Tightened Content Security Policy
    add_header Content-Security-Policy "default-src 'self'; script-src 'self' 'nonce-<random>' 'strict-dynamic'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; object-src 'none'; base-uri 'none';";

    location / {
        try_files $uri $uri/ @custom /index.php$is_args$args;
    }

    location @custom {
        # Default fallback if no custom configuration exists
        try_files $uri $uri/ /index.php$is_args$args;
    }

    # Include custom configurations if any
    include /etc/nginx/custom.conf.d/*.conf;

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;

    sendfile on; # Enable for efficient static file serving

    client_max_body_size ${CLIENT_MAX_BODY_SIZE};

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass $FASTCGI_PASS;
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_param SERVER_NAME $server_name;
        fastcgi_intercept_errors on; # Handle PHP errors (like 404, 500, etc.) with nginx
        fastcgi_buffer_size 16k;
        fastcgi_buffers 4 16k;
    }

    # Deny direct access
    location ~ /(\.ht|\.git|cp|composer.json|package.json|storage\/logs\/cockpit.log|storage\/data\/) {
        deny all;
    }
}
